* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: radial-gradient(circle, skyblue, steelblue);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    cursor: pointer;
  }
  .calculator {
    width: 320px;
    height: 510px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
  }
  
  .output {
    width: 300px;
    height: 130px;
    padding: 3px 7px;
    background: #fff;
    margin: 10px auto;
    border-radius: 5px;
    
    overflow: auto;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
      inset -1px -1px 1px rgba(0, 0, 0, 0.3);
      .nums{
        display: flex;
        p{
            width: 100%;
            padding-left: 5px;
            margin: 5px 0;
            font-size: 23px;
            font-weight: 500;
        }
        span{
          font-size: 30px;
          font-weight: 600;
          height: 67px;
          width: 20px;
          display: flex;
          align-items: center;
        }
      }
      .res{
        margin-top: 10px;
        height: 30px;
        font-size: 23px;
        font-weight: 600;
      }
  }

  .keyboard{
    &__header { 
      grid-area: header;
      display: flex;
      justify-content: space-evenly;
    }
    &__right { 
      grid-area: right;
      button{
        margin-bottom: 10px;
      }
    }
    &__main { 
      grid-area: main;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; 
    }
    &__footer { 
      grid-area: footer; 
      display: flex;
      justify-content: space-evenly; 
    }
    
    display: grid;
    grid-template-areas:
    'header right'
    'main right'
    'footer footer';
    grid-template-columns: 75% 25%;
    grid-template-rows: 70px 210px 60px;
    padding: 0 10px;

  .button-math{
    color: rgb(246, 127, 29);
    border: none;
    height: 60px;
    width: 60px;
    border: none;
    background-color: none;
    border-radius: 5px;
    font-size: 23px;
    font-weight: 500;
    &:hover{
      background-color: rgb(255, 255, 255);
      border: rgb(185, 185, 185);
    }
  }
  .button-number{
    color: rgb(0, 0, 0);
    border: none;
    height: 60px;
    width: 60px;
    border: none;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    font-size: 23px;
    font-weight: 500;
    &:hover{
      background-color: rgb(255, 255, 255);
    }
  }
  .button-null{
    width: 130px;
  }
  .button-result{
    color: rgb(255, 255, 255);
    border: none;
    height: 60px;
    width: 60px;
    border: none;
    background-color: rgb(246, 127, 29);
    border-radius: 50%;
    font-size: 23px;
    font-weight: 500;
    &:hover{
      background-color: rgb(240, 113, 9);
    }
  }

}
  
  